<%= provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Web Gallery</h1>

  <h2>
    Web Gallery to store the Images
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
